td,
th,
tr {
	text-align: center;
	padding: 15px;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	padding: 10px;
}

.header {
	background-color: grey;
}

.note {
	background-color: cornflowerblue;
}

.myButton {
	margin: 5px;
}

.contentNote {
	word-wrap: break-word;
	width: 600px;
}
